html,
body {
    margin: 0;
}

*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1170px ;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    // background: #0d6efd;
    margin: auto
}

