html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-product-detail1{
    background-color: rgb(37, 34, 201);
    width: auto;
    height: auto;
    margin-top: 22px;
    border-radius: 4px;
    margin-right: 10px;
    color: #fff;
   
}
.btn-product-detail2{
    background-color: rgb(228, 19, 19);
    width: auto;
    height: auto;
    margin-top: 22px;
    border-radius: 4px;
    color: #fff;

    
}

.row-productdetail{
    
}